* {
    border: none;
    font-family: "FantasqueSansMono Nerd Font";
    font-size: 15px;
    min-height: 0;
    color: #e5e9f0;
    background-color: #2e3440;
}

window#waybar {
    border-bottom-style: inset;
    border-bottom: 0px solid #a3be8c;
    background: #a3be8c;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 900;
}

/* Workspace Buttons */
#workspaces button{
    padding: 5px;
}
#workspaces button label{
    color: #5e81ac;
}
#workspaces button.focused label {
    color: #8fbcbb;
}

#mode {
    background-color: #cc241d;
    color: white;
}

#clock, #battery, #temperature, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #clock, #custom-power {
    padding: 0 5px;
    margin: 0 10px;
}


#custom-power {
    color: #a3be8c;
    border-bottom: 4px solid #a3be8c;
}


#battery {
    padding: 0 10px;
}

#temperature {
    color: #5e81ac;
    border-bottom: 4px solid #5e81ac;
}


#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#clock {
    color: #a3be8c;
    border-bottom: 4px solid #a3be8c;
}

#network.ethernet {
    color: #8fbcbb;
    border-bottom: 4px solid #a3be8c;
}

#backlight {
    color: #81a1c1;
    border-bottom: 4px solid #81a1c1;
}

#pulseaudio {
    color: #88c0d0;
    border-bottom: 4px solid #88c0d0;
}

#network.wifi {
    color: #5e81ac;
    border-bottom: 4px solid #5e81ac;
}

.ok {
    color: #5e81ac;
    border-bottom: 4px solid #5e81ac;
}

.warning {
    color: #d08770;
    border-bottom: 4px solid #d08770;
}


.critical {
    color: #bf616a;
    border-bottom: 4px solid #bf616a;
}



#pulseaudio.muted {
    padding: 0 20px;
    color: #8fbcbb;
    border-bottom: 4px solid #8fbcbb;
}
