* {
    border: none;
    font-family: "Iosevka Nerd Font";
    font-size: 15px;
    min-height: 0;
    color: #e5e9f0;
    background-color: rgba(0, 0, 0, 0.0);
}

window#waybar {
    border-bottom-style: inset;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 900;
}

button {
    background-color: rgba(46, 52, 64, 0.5);
    border-radius: 5px;
}
/* Workspace Buttons */
#workspaces button{
    padding: 5px;
}
#workspaces button label{
    color: #5e81ac;
}

#mode {
    background-color: #cc241d;
    color: white;
}

#clock, #battery, #temperature, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #clock, #custom-power, #backlight{
    padding: 5px 20px 5px 20px;
    margin: 2px 5px;
    background-color: rgba(46, 52, 64, 1);
    border-radius: 5px;
    border-bottom: 3px solid #5e81ac;
	color: #5e81ac;
}


#battery.Discharging {
    color: #a3be8c;
}

#battery.Unknown {
    color: #a3be8c;
}

#network.disconnected {
    color: #cc241d;
    border-bottom: 3px solid #cc241d;
}


.ok {
    color: #5e81ac;
    border-bottom: 3px solid #5e81ac;
}

.warning {
    color: #d08770;
    border-bottom: 3px solid #d08770;
}

.critical {
    color: #bf616a;
    border-bottom: 3px solid #bf616a;
}



#pulseaudio.muted {
    padding: 0 20px;
    color: #8fbcbb;
    border-bottom: 3px solid #8fbcbb;
}
