* {
    border: none;
    font-family: "FantasqueSansMono Nerd Font";
    font-size: 15px;
    min-height: 0;
    color: #e5e9f0;
    background-color: #434c5e;
}

window#waybar {
    border-bottom-style: inset;
    border-bottom: 0px solid #a3be8c;
    background: #a3be8c;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 900;
}

/* Workspace Buttons */
#workspaces button{
    padding: 5px;
}
#workspaces button label{
    color: #e5e9f0;
}
#workspaces button.focused label {
    color: #e5e9f0;
}

#mode {
    background-color: #cc241d;
    color: white;
}

#clock, #battery, #temperature, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #clock {
    padding: 0 5px;
    margin: 0 10px;
}


#pulseaudio {
    color: #b48ead;
    border-bottom: 4px solid #b48ead;
}

#clock {
    color: #ebcb8b;
    border-bottom: 4px solid #ebcb8b;
}

#battery {
    padding: 0 10px;
}

#temperature {
    color: #5e81ac;
    border-bottom: 4px solid #5e81ac;
}

#backlight {
    color: #88c0d0;
    border-bottom: 4px solid #88c0d0;
}

.ok {
    color: #5e81ac;
    border-bottom: 4px solid #5e81ac;
}

.warning {
    color: #d08770;
    border-bottom: 4px solid #d08770;
}


.critical {
    color: #bf616a;
    border-bottom: 4px solid #bf616a;
}


#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#network.wifi {
    color: #a3be8c;
    border-bottom: 4px solid #a3be8c;
}

#network.ethernet {
    color: #a3be8c;
    border-bottom: 4px solid #a3be8c;
}

#pulseaudio.muted {
    padding: 0 20px;
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}
